target/*
!target/x86_64-unknown-linux-musl/
target/x86_64-unknown-linux-musl/*
!target/x86_64-unknown-linux-musl/release/
target/x86_64-unknown-linux-musl/release/*
!target/x86_64-unknown-linux-musl/release/colossus-oci-proxy
dist/
.git/
.github/
.colossus/
