**
!package.json
!README.md
!LICENSE
!media/**
!dist/extension.cjs
!dist/webview.js
!dist/style.css
!dist/settings.js
!dist/settings.css
!dist/icons/**
!dist/colossus-mark.svg
!dist/THIRD_PARTY_NOTICES.txt
!dist/shadcn.css
!dist/shadcn-LICENSE.txt
!dist/node_modules/**
!dist/explorer.js
!dist/inspector.js
!dist/workspace.css
!dist/theme.css
!dist/composer.css
!dist/settings-frame.css
!dist/select.css
!dist/inspector.css
